<!DOCTYPE html>
<html ng-app='ShoppingListApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>body {font size:1.2em; }</style>
    <title>ng-repeat</title>
  </head>
  <body>
  <h1>ng-repeat</h1>
  <div ng-controller='ShoppingListController'>
      <input type = "text" ng-model="newItemName" placeholder="item name">
        <input type = "text" ng-model="newItemQuantity" placeholder="item quantity">
        <button ng-click="addToList()">Add to List</button>
    <h3> ShoppingList : 1 </h3>
    <ul>
      <li ng-repeat="item in shoppingList1"> {{item}}</li>
    </ul>
   <h3> ShoppingList : 2 </h3>
   <ul>
     <li ng-repeat="item in shoppingList2"> Buy {{item.quantity}} of {{item.name}}(s)</li>
   </ul>

   <h3> ShoppingList : 3 </h3>
   <ul>
     <li ng-repeat="item in shoppingList2">{{$index + 1}}.Buy {{item.quantity}} of {{item.name}}(s)</li>
   </ul>

      </div>
  </body>
</html>
